USE [master]
GO
/****** Object:  Database [basetienda]    Script Date: 04/05/2021 12:42:39 a. m. ******/
CREATE DATABASE [basetienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'basetienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\basetienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'basetienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\basetienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [basetienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [basetienda]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 04/05/2021 12:42:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[precio] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([codigo], [descripcion], [precio]) VALUES (1, N'Cebollas', 25.99)
INSERT [dbo].[Articulos] ([codigo], [descripcion], [precio]) VALUES (2, N'papas', 10)
INSERT [dbo].[Articulos] ([codigo], [descripcion], [precio]) VALUES (3, N'Chile', 20.34)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
USE [master]
GO
